<h2>Profile</h2>
<br>
<label for="first_name"></label>
<p>{{user.first_name}}</p>
<label for="last_name"></label>
<p>{{user.age}}</p>
<label for="age"></label>
<p>{{user.name}}</p>
<label for="email"></label>
<p>{{user.email}}</p>