<h1 class='title'>Lista de productos creados</h1>
<p class='subTitle'>Actualización por Websockets - Real Time</p>
<div id="products"></div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>